* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centrado-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-header {
  height: 8vw;
  min-height: 50px;
  max-height: 80px;
}

.view-password {
  padding: 0.39rem 0.70rem !important;
  border-radius: 0 25% 25% 0 !important;
  height: 100%;
}

/* Chat */

.general_chat {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.chat_container {
  align-items: center;
  background-color: #fff;
  color: #000;
  color-scheme: light;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.conversations_section {
  border-right: solid #e7e7e7;
  height: 100%;
  width: 20%;
}

.profile_conversation {
  border-top: solid #e7e7e7;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  background-color: #dcf7fa;
  word-break: break-all;
}

#logo_image {
  width: 70%;
}

.conversation_section {
  height: 100%;
  width: 80%;
}

.conversation_container {
  height: 100%;
  width: 100%;
}

.conversation_body {
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: solid #e7e7e7;
  background-color: #efefef;
  width: 100%;
}

.footer_conversation {
  align-items: flex-start;
  display: flex;
  height: 15%;
  width: 100%;
}

.send_field_container {
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  min-width: 100%;
  padding: 20px;
}

.field_send {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #333;
  flex: 1;
  font-size: 14px;
  height: 40px;
  outline: 0;
  padding: 0 5px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .chat_container {
      padding-right: 20px;
      height: 80vh;
  }

  .conversations_section {
      visibility: hidden;
      width: 0%;
  }
  
  .conversation_section {
      width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 950px) {
  .conversations_section {
      width: 30%;
  }
  
  .conversation_section {
      width: 70%;
  }
}

@media only screen and (min-width: 601px) {
  .conversation_body {
      height: 85%;
  }
}

/* Profile */

.image_profile_container {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 0px;
  background: #fff;
  border: 5px solid #00cdc1;
}

.image_container{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #fff;
}

#profile_image {
  width: auto;
  height: 100%;
}

/* Image profile */
input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 0px;
  cursor: pointer;
  background: #fff;
  margin-bottom: 25px;
  border: 5px solid #00cdc1;
}

.img-wrap{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.img-upload:before{
  content: "";
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 900;
  font-size: 90px;
  position: absolute;
  padding-top: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #00cdc1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}

.img-upload:hover:before{
  opacity: 1;
}

#img-photo {
  width: auto;
  height: 100%;
}